<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <h3>Search results for: "<%= @keyword %>"" </h3>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
  <% if @results.blank? %>
    <i>No Museums Found</i>
  <% else %>
    <% @results.each do |result| %>
    <div class="col-xs-6">
      <%= render partial: "./museum_card", locals: {museum: result, favorite: @favorite} %>
      </div>
    <%end%>
  <% end %>
  </div>
  </div>