<!DOCTYPE html>
<html>
<head>
  <title>MuseumFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>

<header>
  <nav>
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="">
      <button class="menu-icon slide-down-menu-button" type="button" data-toggle></button>
      <div class="title-bar-title"><a href="/">LOGO</a></div>
      <div class="title-bar-title"><a href="/">IMAGE</a></div>

    </div>
    <div class="top-bar menu-to-expand" id="main-menu">
      <div class="top-bar-left">
        <ul class="vertical dropdown menu" id="hamburger" data-dropdown-menu>
          <%if signed_in?%>
            <li class="row"><a href="#">Sign Out</a></li>
          <%else%>
            <li class="row"><a href="#">Login</a></li>
            <li class="row"><a href="#">Register</a></li>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>
</header>

<%= yield %>

</body>
</html>