user show
<%= @user.name %>'s Favorites

<ul>
<% @user.favorite_museums.each do |museum| %>
	<li><%= render partial: "./museum_card", locals: {museum: museum, favorite: @favorite} %></li>
<%end%>
</ul>
