<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 style="position:relative; text-align:center;"><%= @user.name.capitalize %>'s Favorites</h1>
  </div>
  </div>
</div>

<div class="container" style="position:relative; top:2em;">
  <div class="row">
    <div class="col-xs-12">
<% @user.favorite_museums.each do |museum| %>
	<%= render partial: "./museum_card", locals: {museum: museum, favorite: @favorite} %>
<%end%>
    </div>
  </div>
</div>