<div>
<%= museum.photos[1] %><br>
<%= museum.name %><br>
<%= museum.formatted_address %><br>
<% if museum.is_free %>
  Cost: Free!
<% else %>
  Cost: $$
<% end %><br>
Open: <br>
<% if signed_in? %>
Favorite: <%= render partial: "./favorite", locals: {museum: museum, favorite: favorite}%><br>
<% else %>
Favorite: Register or Login
<% end %>
</div>
