<h4>Free Museums</h4>

<ul>
<% if category.free_museums.empty? %>
  <p>No Free Museums</p>
<% else %>
  <% category.free_museums.each do |museum| %>
    <li><%= render partial: "./museum_card", locals: {museum: museum, favorite: @favorite} %></li>
  <% end %>
<% end %>
</ul>

<h4>$$ Museums</h4>

<ul>
<% category.cost_museums.each do |museum|
  %>
  <li><%= render partial: "./museum_card", locals: {museum: museum, favorite: @favorite} %></li>
<% end %>
</ul>
