<div>
<%= museum.photos[1] %><br>
<%= museum.name %><br>
<%= museum.formatted_address %><br>
<% if museum.is_free %>
  Cost: Free!
<% else %>
  Cost: $$
<% end %><br>
Open: <br>
<% if signed_in? %>
Favorite: <%=museum.is_favorite?(current_user)%> <br>
<% else %>
Favorite: Register or Login
<% end %>
</div>
