<div>
<%= museum.photos[1] %><br>
<h3><%= link_to museum.name, museum_path(museum.id) %></h3>
<%= link_to museum.formatted_address, museum.google_address_link %><br>
<% if museum.is_free %>
  Cost: Free!
<% else %>
  Cost: $$
<% end %><br>
Open: <br>
<% if signed_in? %>
<%= render partial: "./favorite", locals: {museum: museum, favorite: favorite}%><br>
<% else %>
Favorite: Register or Login
<% end %>
</div>