#category-header{
  position:relative;
  text-align:center;
}

.category{
  text-align:center;
}


.category-list{
  position:relative;
  top:2em;
  left:6%;
}

.category-list a {
  font-size: 1.25em;
	color: #3F9895;
}