
.favorite a {
	color: #A4D0C4;
}

.star {
	padding: 0;
	border: none;
	background: none;
	outline: none;
	font-size: 45px;
	font-family: Helvetica;
}

.unfilled-star {
	color: #A4D0C4;
}

.unfilled-star:hover {
	color: #72c4b9;
}

.filled-star {
	color: #72c4b9;
}

.filled-star:hover {
	color: #A4D0C4;
}

.museum-fav .star{
	font-size:100px;
}