.star {
	font-size: 45px;

}

.favorite a {
	color: #A4D0C4;
}

.star {
	padding: 0;
	border: none;
	background: none;
	outline: none;
}

.unfilled-star {
	color: #A4D0C4;
}

.unfilled-star:hover {
	color: #00A4D3;
}

.filled-star {
	color: #00A4D3
}

.filled-star:hover {
	color: #A4D0C4;
}