.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.padded-nav {
  padding-top: 2%;
  font-size: large;
}


.jumbotron {
  background-image: image-url("met-photo.jpg");
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
  margin-top: -60px;
  height: auto;
  padding: bottom;
}

.custom-jumbotron-inner-container {
  padding: 20% 3%;
  text-align: center;
}

.custom-jumbotron-inner-container h1 {
  font-size: 4em;
  width: 30%;
  margin: auto;
  border: 6px solid white;
  color: white;
  background-color: rgba(211,211,211,0.4);
}

// .navbar {
//   background-color: #829595;
// }
