.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.padded-nav {
  padding-top: 2%;
  font-size: large;
}

.home-image {
  background-image: image-url("met_home.jpeg");
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
  margin-top: -60px;
  height: auto;
  padding: bottom;
}