.card {
	display: inline-flex;
	outline: 2px solid black;
	outline-style: 10px;
	margin: 20px;
	min-width: 400px;
	clear: both;
}
a:link {
	text-decoration: none;
}

.dollar {
	color: green;
	font-size: 30px;
}

.card-img {
	width: 250px;
	height: 250px;
	margin: 10px;
	background-size: cover;
	overflow: hidden;
	display: inline-block;
}

.card-text {
	display: float;
	margin: 10px;
	color: black;
	width: 30px;
}

h1 a {
	color: black;
}

.address a {
	color: #72C4B9;
}

.favorite {
	display: inline-block;
	float: right;
}

.favorite a {
	color: #A4D0C4;
}