


.outline{
  position:relative;
  width:95%;
  left:2%;
  border:5px solid teal;
  height: 605px;
  background-color: #FEFEE7;

}

.glyphicon{
    color:teal;
    font-size: 5em;
}

.glyphicon:hover{
    font-weight: bolder;
}

.style3 {
  color: teal;
    text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}

.style5 {
    color: rgba(245,159,26,0.8);
    text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}

.style7 {
    color: rgba(51, 153, 102,0.8);
    text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}


.icons{
  font-size: 300%;
}

.style2 {
    color: white;
    text-shadow: 0px 1px 0px #0092b3,0px 2px 0px #0087a6,0px 3px 0px #008099,0px 4px 0px #00758c,0px 5px 0px #555,0px 6px 0px #006a80,0px 0px 0px #006073,0px 8px 7px #005566;
  }

.style5 {

    color: rgba(245,159,26,0.8);
    text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}

.style10 {
    color: #019875;
    text-shadow: 0px 1px 0px black,0px 2px 0px black,0px 3px 0px black,0px 4px 0px green,0px 5px 0px green,0px 6px 0px green,0px 0px 0px green,0px 8px 7px green;
}

.icon-row{
  position:relative;

}

.specials{
  font-size: .76em;
}

.photo img {
  position:relative;
  top:5px;
  height: 300px;
  left:13%;
}

.title{
  position:relative;
  right:2%;
}

.icon-row{
  position:relative;
  /*left:5%;*/
  right:6%;
  top:4em;
}

.hours{
  top:-15px;
}

.museum-name{
  position:relative;
  font-size:3.5em;
  padding:0px;
 /* left:5%;*/
 right:6%;
  top:1em;
}

/*.photo{*/
  /*position:relative;*/
  /*img {*/
    /*height:300px;*/
  /*}*/
/*}*/

.blank-row{
  position: relative;
  height:2em;
}

.specials{
  font-size: .76em;
}