.card-block {
	outline: 2px solid black;
	margin: 20px;
	min-width: 500px;
}
a:link {
	text-decoration: none;
}

.dollar {
	color: green;
	font-size: 30px;
}

.card-img {
	width: 300px;
	height: 300px;
	margin: 10px;
	background-size: cover;
	overflow: hidden;
	display: inline-block;
}

.card-text {
	display: inline-block;
	text-align: left;
	margin: 10px;
	color: black;
}

h2 a {
	color: black;
}

.address a {
	color: #72C4B9;
}

.favorite {
	text-align: center;
}

.favorite a {
	color: #A4D0C4;
}
