.form-title{
  position:relative;
  text-align:center;
  font-size:3em;
}

.register{
  position:relative;
  width:38%;
}

.name{
  position:relative;
  margin-bottom: 1em;
}

.errors {
  list-style: none;
  text-align: center;
}

.month{
  text-align:left;
}

#user_current_password{
  position:relative;
  left:.4em;
  width:38%;
}

.checkbox {
  text-align: left;
  margin-left: 4.5%;
}

.links {
  margin-top: 1em;
  text-align: center;
}

#new-links {
  margin-top: 4em;
}

.links a {
  color: black;
  text-align: center;
}
