.sign-up{
  position:relative;
  text-align:center;
  font-size:3em;
}

.register{
  position:relative;
  width:38%;
}

.name{
  position:relative;
  top:-1.75em;
}

.mail{
  position:relative;
  top:-.6em;
}

.sign{
  position:relative;
  top:2em;
}

.monthly{
  position:relative;
  top:3.2em;
}

.pass{
  position:relative;
  top:1em;
}

.confirm{
  position:relative;
  top:2em;
}

.sign{
  position:relative;
  top:4em;
}

.links{
  position:relative;
  top:5em;
}

.checkbox {
  text-align: left;
  margin-left: 4.5%;
}
