.edit{
  position:relative;
  text-align:center;
  font-size:3em;
  top:-.5em;
}

.bottom{
  position: relative;
  top:2em;
}

.namey{
  position:relative;
  top:-2.1em;
}

.mail{
  position:relative;
  top:-1.5em;
}

.word{
  position:relative;
  top:-.5em;
}

.conf{
  position:relative;
  top:.75em;
}

.month{
  position:relative;
  text-align:left;
  top:3em;
}

.current{
  position:relative;
  top:2em;
  text-align:left
}

.update{
  position:relative;
  top:4em;
}

#user_current_password{
  position:relative;
  left:.4em;
  width:38%;
}

.cancel{
  position:relative;
  top:1.75em;
  right:8%;
}