
.header{
  position:relative;
  text-align:center;
  font-size:3em;
}

.lower{
  position:relative;
  text-align:center;
  top:2em;
  width:22%;
  padding:3em;
  padding-bottom:6em;
  border-radius:10px;
  background-color: #3F9895;
}

.email{
  position:relative;
}

.password{
  position:relative;
}

.remember{
  position:relative;
  top:1.5em;
}

.login{
  position:relative;
  top:2em;
}