<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 id="category-header">CATEGORIES</h1>
    </div>
  </div>
</div>

<div class="container category-list">
  <div class="row">
  <% @categories.each do |category| %>
    <div class="col-xs-4 category">
      <h4><a href="/categories/<%=category.id%>"><%= category.name.upcase %></a></h4>
    </div>
    <%end%>
  </div>
</div>