<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <h3><%= @category.name %> Museums </h3>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @category.museums.each do |museum| %>
    <div class="col-xs-6">
      <%= render partial: "./museum_card", locals: {museum: museum, favorite: @favorite} %>
    </div>
  </div>
    <%end%>
</div>