<main class="Site-content">
  <div class="container-fluid">
    <div class="home-image">
      <header class="home-inner-container">
        <h1>Museum Finder</h1>
      </header>
    </div>
  </div>
</main>