<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>June newsletter for <a href="http://museumfindernyc.herokuapp.com/">Museum Finder</a></h1>
    <p>

      <span style="font-size:2em;">Brian - </span></br>

      As the summer weather heats up, you might find yourself wanting to cool off at one of your favorite museums. Check out this list of specials running through the month!</p><br>

      <p><strong>Bronx Zoo:</strong></br>
      Pay-what-you-wish: Wednesday (excluding special exhibitions/rides)<p>

      <p><strong>Guggenheim</strong></br>
      Pay-what-you-wish: Saturday from 5:45 to 7:45pm; refreshments available</p>

      <p><strong>Museum of Chinese in America</strong></br>
      Target-sponsored free admission: Thursday</p>

    </p><br><br>
    <p>
      To login to the site, just follow this link: museumfindernyc.herokuapp.com.
    </p>
    <p>Hope you have a great month exploring New York City museums!</p>
  </body>
</html>