<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Monthly Newsletter for <a href="http://museumfindernyc.herokuapp.com/">Museum Finder</a></h1>
    <p>

      <span style="font-size:2em;"><%= current_user.name %> - </span></br>

      Check out this list of your favorite museum specials running through the month!</p><br>

      <% current_user.favorite_museums.each do |museum| %>
      <p><strong><%= museum.name %>:</strong></p></br>
      <p><%= museum.specials.first.description %></p></br></br>
      <%end%>

    </p><br><br>
    <p>
      To login to the site, just follow this link: museumfindernyc.herokuapp.com.
    </p>
    <p>Hope you have a great month exploring New York City museums!</p>
  </body>
</html>